.logos-container {
    max-width: 1080px;
    margin: 140px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .logos-container {
        margin: 20px auto 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & img {
            margin-top: 80px;
        }
    }
}