.feature {
    &-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 40px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        margin: 0 4px;

        & img {
            margin: 32px auto -28px;
        }
    }
}

@media screen and (max-width: 991px) {
    .feature {
        &-container {
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
    }
}