#header {
    padding: 128px 0 80px;
    background-image: url('../../assets/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    &-logo {
        width: 100%;
        height: 128px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {
    #header {
        background-image: url('../../assets/images/bg-header-mobile.png');
        background-size: cover;
    }
}
@media screen and (max-width: 810px) {
    #header {
        background-size: contain;
    }
}